@model Detalii
    <link href="~/lib/bootstrap/dist/js/toastr.css" rel="stylesheet" />
    <form asp-action="Create" asp-controller="Detalii" method="Post">
        <input asp-for="Id" type="hidden" />
        <input name="IsEditMode" id="IsEditMode" value="@ViewBag.IsEditMode" type ="hidden" />
        <div class="form-group">
            <label asp-for="Varsta"></label>
            <input asp-for="Varsta" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Greutate"></label>
            <input asp-for="Greutate" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Inaltimea"></label>
            <input asp-for="Inaltimea" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Data"></label>
            <input asp-for="Data" class="form-control" />
        </div>

        <div class="form-group">
            <input type ="submit" value="Salveaza informatii" class="btn btn-primary" id="toastrSucces"/>
         </div>
    </form>
    <script src="~/lib/bootstrap/dist/js/toastr.min.js"></script>
    <script src="~/lib/_vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript">

    $(function () {
        $("#toastrSucces").click(function () {
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "100",
                "extendedTimeOut": 0,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "tapToDismiss": false
            }
            toastr["success"]("Datele au fost inregistrate cu succes")
        });
    })

</script>